.rectangle-bounce {
    background-color: #1abc9c;
}

.rectangle-big {
    position: absolute;
    width: 35px;
    top: 35px;
    left: 90px;
    margin: 0 auto;
}

.rectangle {
    height: 20px;
    width: 5px;
    background-color: white;
    margin: 1px;
    float: left;
    animation-name: reducer;
    animation-duration: 1.2s;
    animation-iteration-count: infinite ;

}
.rectangle-bounce1{animation-delay: 0.1s;}
.rectangle-bounce2{animation-delay: 0.2s;}
.rectangle-bounce3{animation-delay: 0.3s;}
.rectangle-bounce4{animation-delay: 0.4s;}
.rectangle-bounce5{animation-delay: 0.5s;}

@keyframes reducer {
    0% {transform: scaleY(1)}
    20% {transform: scaleY(2.5) }

    100% {transform: scaleY(1) }
}