


#rotating-plane2 {
    position: relative;
    width: 80px;
    height: 80px;
    top: 20px;
    left: 40px;
    background-color: white;

    animation: first 2s infinite;

}

@keyframes first {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateZ(180deg)
    }
}
