.circular-eight{background-color: #2196f3;}
.circular-eight-in{width: 60px;height: 60px;background-color: wheat;border-radius: 50%;position: relative;}
.eight{width: 60px;height: 60px;position: absolute;left: 0;top:0;}
.circular-eight1{transform:rotate(0deg);}
.circular-eight2{transform:rotate(45deg);}
.circular-eight3{transform:rotate(90deg);}
.circular-eight4{transform:rotate(135deg);}
.circular-eight5{transform:rotate(180deg);}
.circular-eight6{transform:rotate(225deg);}
.circular-eight7{transform:rotate(270deg);}
.circular-eight8{transform:rotate(315deg);}
.eight-small{width: 12px;height: 12px;background-color: white;border-radius: 50%;}
