.cubes {
    background-color: #2980b9;
    position: relative;
}
.cubes-in{width: 60px;height: 60px;margin-left: 20px;margin-top: 20px;position: relative;}

.cubes1, .cubes2 {
    width: 20px;
    height: 20px;
    background-color: white;
   position: absolute;
    top:20px;
    left: 20px;
    animation-name:cubes;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;


}
.cubes1{animation-delay: 0.3s;}

@keyframes cubes{
    0%{transform: scale(0.2)  rotate(-72deg) ;top:0;left: 0;}


    25%{transform:scale(1) rotate(-144deg) ;top:0;left:60px; }
   45%{transform:scale(0.2) rotate(-216deg) ;left: 60px ;top:60px;  }
   75%{transform:scale(1) rotate(-288deg); top:60px;left:0; }
    100%{
        transform: scale(0.2) rotate(-360deg);top:0; left: 0;}

}