.flagship-stores {
    width: 1230px;
}

.fs-shop-list {
    height: 649px;
}

.fs-shop-items {
    width: 592px;
    height: 326px;
    padding: 10px;
    background-color: white;
    border: 1px solid #f5f5f5;
    border-left: 1px solid white;
    border-top: 1px solid white;
    float: left;
}


.fs-shop-items:hover {
    border: 1px solid #DD2727;
}

.shop-items-head {
    width: 594px;
    height: 50px;
    margin-bottom: 8px;
}

.shop-items-head a {
    display: inline-block
}

.shop-items-logo {
    width: 100px;
    height: 50px;
    margin-right: 10px;
    text-align: center;
    float: left;
}

.shop-items-logo > img {
    width: 50px;
    height: 50px;
}

.shop-items-title {
    width: 200px;
    height: 50px;
    float: left;
}

.shop-items-title > a {
    font-size: 16px;
    color: #000;
    height: 30px;
    line-height: 30px;
}

.shop-items-title > p {
    margin: 0;
}

.shop-items-head > a {
    width: 80px;
    height: 30px;
    line-height: 30px;
    float: right;
    margin-top: 10px;
    color: #666;
    background-color: #eee;
    text-align: center;
}

.fs-shop-item {
    height: 266px;
    width: 594px;
}

.meta-block {
    width: 192px;
    height: 268px;
}

.fs-shop-item img {
    width: 100%;
}

.fs-shop-item img:hover {
    opacity: 0.6;
}

.meta {
    width: 172px;
    height: 66px;
    padding: 0 10px;
}

.meta > div {
    color: #000;
    font-size: 12px;
    line-height: 18px;
    height: 36px;
    display: block;
    overflow: hidden;
    display: -webkit-box;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 10px;
}

.meta > p {
    color: #DD2727;
    font-size: 16px;
    margin: 0px;
    line-height: 30px;
}

.meta-link {
    width: 191px;
    height: 268px;
    display: inline-block;
    margin-right: 10px;
    float: left;
}

.meta-right {
    margin-right: 0;
}
