.border {
    border-right: 3px solid red;
    border-bottom: 3px solid red;
}

.body-div {
    width: 800px;
    height: 250px;
   margin-top: 100px;
    overflow: hidden;
}

.page {
    position: relative;
    margin-left: 50px;
    margin-top: 30px;
    animation-name: run1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}
@keyframes run1 {
    0%{left:-250px;}
    100%{left:900px;}

}

.absolute {
    position: absolute;
}

.hat {
    width: 25px;
    height: 20px;
    border-radius: 30%;
    background-color: red;
    left: 15px;
    z-index: 9999;
}

.hat2 {
    width: 55px;
    height: 10px;
    border-radius: 30%;
    background-color: red;
    left: 0;
    bottom: -20px;
    z-index: 9999;
}

.header {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid red;
    bottom: -50px;
    left: 5px;
    z-index: 11;
    background-color: white;

}

header {
    position: relative;

    animation-name: header-move;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 20px 40px;
}

@keyframes header-move {
    0% {
        transform: rotateZ(-0deg);
    }
    25% {
        transform: rotateZ(-30deg);
    }
    75% {
        transform: rotateZ(20deg);
    }
    100% {
        transform: rotateZ(30deg);
    }

}

.hand-1, .hand-2 {
    width: 39px;
    height: 45px;
    bottom: -55px;
    left: 25px;
    transform-origin: 0 45px;
    animation: hand 0.4s infinite;
}

.hand-2 {
    animation-delay: 0.2s;
}

@keyframes hand {
    0% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(190deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

.body {
    width: 15px;
    height: 90px;
    background-color: red;
    bottom: -130px;
    left: 20px;
    z-index: -1;
}

.foot1, .foot2 {
    width: 60px;
    height: 65px;
    bottom: -195px;
    left: -35px;
    transform-origin: 60px 0px;
    animation: foot 0.4s infinite;
}

@keyframes foot {
    0% {
        transform: rotate(40deg);
    }
    50% {
        transform: rotate(-100deg);
    }
    100% {
        transform: rotate(40deg);
    }

}

.foot2 {
    transform: rotate(350deg);
    left: -30px;
    bottom: -195px;

}

.foot1 {
    animation-delay: 0.2s;
}

/*.earth {*/
    /*width: 500px;*/
    /*height: 500px;*/
    /*left: -220px;*/
    /*bottom: -650px;*/
    /*animation-name: earth;*/
    /*animation-duration: 6s;*/
    /*animation-timing-function: linear;*/
    /*animation-iteration-count: infinite;*/
/*}*/
/*@keyframes earth {*/
    /*0%{transform: rotate(0deg);  }*/
    /*100%{transform: rotate(360deg);  }*/
/*}*/
